
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginUser</title>

    <style>
        .container {
            border: 1px solid;
            max-width: 360px;
            margin: auto;
            padding: 25px;
            margin-top: 200px;
            height: 400px;
            background: wheat;
            font-size: 25px;
        }
       

        .logo {
            text-align: center;
            background-color: beige;
            font-size: 30px;
            font-family: cursive;
        }
        .label {
            font-size:25px;
        }
        .button {
            width: 100px;
            height: 35px;
            display: block;
            margin-left: 220px;
            margin-top: 30px;
            background-color: #71e0e0;
        }
            .button:hover {
                background-color: #eae4e4;
            }
    </style>

</head>
<body class="body" style="background-color: #d2d6de;">
    <form class="Form" action="/User/LoginUser" method="post">
        <div class="container">
            <div class="logo">
                <h1>GİRİŞ</h1>
            </div>
            <div class="Login">
                <label class="label">Kullanıcı Adı:</label>
                <input type="text" name="UserName" id="UserName"placeholder="Kullanıcı Adı" style=" height: 25px;" />
                <label class="label">Şifre:</label>
                <input type="password" name="Password" placeholder="Şifre" style=" margin-left: 87px; height: 25px; margin-top: 10px;" />
            </div>
            <div>
                <input type="submit" value="GİRİŞ" class="button" />
            </div>
            <div class="erorr" style="color:red;">
                @ViewBag.Error
            </div>
            
        </div>
</form>
  
</body>
</html>
