sbody {
    
}
.info  {
    font-size: 22px;
    margin: 3px 10px 3px 10px;
}
    .info a {
        text-decoration: none;
    }
        .info a:hover {
          color: white;
        }
.d-block {
    color: black;
    
}
    .d-block:hover {
        text-decoration: none;
    }
    nav.main-header.navbar.navbar-expand.navbar-white.navbar-light {
        background: #3c8dbc;
    }
section.content {
    height: 823px;
}
.paging {
    display: block;
    width: max-content;
    font-size: xx-large;
    margin-left: 45px;
    font-family: sans-serif;
    border: 1px solid;
    background: darkgrey;
    height: 50px;
    margin-top: 15px;
}

