@model HastalikTakibi.Models.User

@using Microsoft.AspNetCore.Http;
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div>
    <div class="row">
        <div class="col-md-4">
            <h3>HOŞGELDİN @Html.DisplayName(Model.UserName)</h3>
        </div>


    </div>
</div>
