@using X.PagedList;
@using X.PagedList.Mvc.Core

@model IPagedList<HastalikTakibi.DAL.Models.Database.Patient>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/site.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <style>
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }

        .select-box {
            word-wrap: normal;
            background: darkgray;
            margin: 7px;
            height: 35px;
            color: black;
            font-size: 20px;
            font-weight: 400;
            font: icon;
            border-radius: 3px;
        }
        .paging {
            display: block;
            width: max-content;
            background:white !important;
        }
        .pageItem {
            float: left;
            font-size: x-large;
            max-width: 20px !important;
            color: blue !important;
            cursor:move;
        }
    </style>
</head>

<body>
    <div class="container" style=" max-width: 100%;">
        <div class="header form-control" style=" color: #ff9030; text-align: center; border: solid 2px black; margin-top: 2px; background-color: green; height: 45px;"> <h3>Hasta Listesi</h3></div>
        <div>
            <a class="btn btn-success btnAdd" href="/Patient/PatientAdd" style="margin-top:5px; float:left;">Yeni Hasta Ekle</a>
        </div>
        <div class="select">
            <select name="selectPatientListType" id="selectPatientListType" class="select-box">
                <option value="All">Seç</option>
                <option value="PatientExisting">Mevcut Hastalar</option>
                <option value="PatientRecovery">Hastalık Durumu Bitmiş Hastalar</option>

            </select>
        </div>
        <div class="table-container" style="overflow-x:scroll">

            <table id="patientList" class=" table table table-striped" style="margin-top:15px; width:max-content;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tc</th>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>Adres</th>
                        <th>E-posta</th>
                        <th>Telefon</th>
                        <th>Doğum Yeri(il)</th>
                        <th>Doğum Yeri(ilçe)</th>
                        <th>Kayıt Zamanı</th>
                        <th>Son Güncelleme Zamanı</th>

                    </tr>
                </thead>
                <tbody>
                   
                </tbody>
            </table>

        </div>
        <div class="paging">
            @*@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))*@
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#selectPatientListType").change(function () {
                var selected = $(this).val();
                GetPatientList(selected);
            });
            GetPatientList($("#selectPatientListType").val(),1);
            
        });
        function GetPageRecords(page) {
            var selected = $("#selectPatientListType").val();
            console.log("page seçildi");
            GetPatientList(selected, page);
        }
        function GetPatientList(patientListType, page) {
            $("#patientList tbody").html("");
            $(".paging").html("");
            $.ajax({
                url: '/Patient/GetPatientList',
                data: { patientListType: patientListType, page: page },
                type: "post",
                success: function (gridView) {
                    if (gridView == undefined)
                        return;
                    var patientList = gridView.ObjList;
                    for (var i = 0; i < patientList.length; i++) {
                        $("#patientList tbody").html(
                            $("#patientList tbody").html()
                            + '<tr>'
                            + '<th>' + patientList[i].Id + '</th>'
                            + '<th>' + patientList[i].TC + '</th>'
                            + '<td><a class="patintList" href="/Patient/PatientInformation/' + patientList[i].Id + '" data-id="' + patientList[i].Id + '">' + patientList[i].Name + '</a></td>'
                            + '<td>' + patientList[i].Surname + '</td> '
                            + '<td>' + patientList[i].Address + '</td> '
                            + '<td>' + patientList[i].EMail + '</td> '
                            + '<td>' + patientList[i].Phone + '</td> '
                            + '<td>' + patientList[i].Province + '</td> '
                            + '<td>' + patientList[i].District + '</td> '
                            + '<td>' + patientList[i].CreateTime + '</td> '
                            + '<td>' + patientList[i].LastUpdateTime + '</td> '
                            + '<td><a class="btn btn-success btnUpdate" href="/Patient/PatientUpdate/' + patientList[i].Id + '" data-id="' + patientList[i].Id + '">Güncelle </a></td>'
                            + '<td><a class="btn btn-success btnUpdate" href="/Patient/PatientDelete/' + patientList[i].Id + '" data-id="' + patientList[i].Id + '">sil </a></td>'
                            + '</tr>');
                    }

                    var totalCount = gridView.TotalCount;
                    var pageCount = Math.ceil(totalCount / 2);
                    for (var i = 0; i < pageCount; i++) {

                        var a = document.createElement("a");
                        a.href = "#";
                        a.setAttribute("class", "pageItem");
                        a.setAttribute("data-index", (i + 1));
                        a.onclick = function () {
                            var selected = $("#selectPatientListType").val();
                            var page = $(this).attr("data-index");
                            console.log("page seçildi");
                            GetPatientList(selected, page);
                        };
                        a.innerHTML = (i + 1);
                        $(".paging").append(a);
                    }


                },
                error: function () {
                }
            });


        }
    </script>

  
</body>