
<head>
    <style>
        body {
            margin: 0;
            font-family: sans-serif;
        }
        .header {
            overflow: hidden;
            background-color: #a8b5f7;
            padding: 0px 0px;
            height: auto;
        }
            .header a {
                float: left;
                color: black;
                text-align: center;
                padding: 7px;
                text-decoration: none;
                font-size: 20px;
                line-height: 35px;
                border-radius: 4px;
            }
                .header a.logo {
                    font-size: 20px;
                    line-height: 50px;
                    text-align: center;
                    font-family: sans-serif;
                    font-weight: 300;
                    float: left;
                    display: block;
                    height: 50px;
                    width: 230px;
                    padding: 0 15px;
                    overflow: hidden;
                    color: black;
                    background-color: #a8b5f7;
                    border-bottom: 0 solid transparent;
                    border-right: 1px solid #d2d6de;
                }
                .header a:hover {
                    background-color: blanchedalmond;
                    color: black;
                }
        .header-right {
            background-color: #a8b5f7;
            margin-bottom: 0;
            margin-left: 230px;
            border: none;
            min-height: 50px;
            border-radius: 0;
            position: relative;
            display: block;
            float: right;
        }
        .header a{
            margin-right:25px;
        }
    </style>
</head>
<body>
    <div class="header form-control">
        <a href="/Anasayfa/Anasayfa" class="logo">Hastalık Takip</a>
        <nav class="header-right">
            
            <a href="#">@ViewBag.Name @ViewBag.Surname</a>
            <a href="#" class="contact">iletişim</a>
            <a href="#" class="about">hakkında</a>
        </nav>
    </div>
</body>